header {
    background-color: red;
}

#nav {
    background-color: blue;
}

.article {
    background-color: aqua;
}

aside {
    background-color: coral;
}

.footer {
    background-color: fuchsia;
}

.main {
    display: flex;
}

.aside {
    flex: 1;
}
.article {
    flex: 2;
}